ADMIN_USERNAME=admin
ADMIN_PASSWORD=supersecretpassword

# Секрет для Better Auth (можно сгенерировать любой длинный ключ)
BETTER_AUTH_SECRET=your_ultra_long_secret_key_123
BETTER_AUTH_URL=http://localhost:4321